ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="054c", ATTR{idProduct}=="02ea", SYMLINK="pscard%n", GROUP="plugdev", ATTR{power/autosuspend_delay_ms}="-1"

